In [3]:
print('test')

test

In [1]:
#Packages
#! pip install scikit.learn
#! pip install pandas
#! pip install numpy
#! pip install openpyxl
#! pip install matplotlib

Requirement already satisfied: pandas in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (2.1.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 21.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\jacob\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import openpyxl
import numpy as np

In [4]:
James_database = pd.read_excel(r"C:\Users\jacob\OneDrive\Desktop\Case Study\Best player\Players\James.xlsx")
Curry_database = pd.read_excel(r"C:\Users\jacob\OneDrive\Desktop\Case Study\Best player\Players\Curry.xlsx")
Embiid_database = pd.read_excel(r"C:\Users\jacob\OneDrive\Desktop\Case Study\Best player\Players\Embiid.xlsx")
Giannis_database = pd.read_excel(r"C:\Users\jacob\OneDrive\Desktop\Case Study\Best player\Players\Giannas.xlsx")
Jokic_database = pd.read_excel(r"C:\Users\jacob\OneDrive\Desktop\Case Study\Best player\Players\Jokic.xlsx")

In [28]:
#Test
#Lebron_database 
#Curry_database 
#Embiid_database 
#Giannas_database 
#Jokic_database

,Player,GAME,DATE,SCORE,Win/ Loss,Team Score,Opp Score,PTS,REB,AST,...,1%,OR,DR,REB2,AST3,STL,TO,BLK,PTS4,EFF
0,Nikola Jokic,Utah Jazz logo,2022-10-20,L 123-102,L,102,123,27.0,4.0,6.0,...,1,2.0,2.0,4.0,6.0,3.0,3.0,0.0,27.0,32.0
1,Nikola Jokic,Golden State Warriors logo,2022-10-22,W 123-128,W,128,123,26.0,12.0,10.0,...,1,3.0,9.0,12.0,10.0,0.0,5.0,0.0,26.0,37.0
2,Nikola Jokic,Oklahoma City Thunder logo,2022-10-23,W 122-117,W,122,117,19.0,16.0,13.0,...,0.667,1.0,15.0,16.0,13.0,1.0,3.0,1.0,19.0,40.0
3,Nikola Jokic,Portland Trail Blazers logo,2022-10-25,L 135-110,L,110,135,9.0,9.0,9.0,...,1,1.0,8.0,9.0,9.0,0.0,1.0,0.0,9.0,25.0
4,Nikola Jokic,Los Angeles Lakers logo,2022-10-27,W 110-99,W,110,99,31.0,13.0,9.0,...,1,1.0,12.0,13.0,9.0,4.0,3.0,0.0,31.0,49.0

In [5]:
#Seperate Games with player and without the player

#Curry
Curry = Curry_database[Curry_database['Player'] == 'Stephen Curry']
Without_Curry = Curry_database[Curry_database['Player'] == 'Without Stephen Curry']
#Jokic
Jokic = Jokic_database[Jokic_database['Player'] == 'Nikola Jokic']
Without_Jokic = Jokic_database[Jokic_database['Player'] == 'Without Nikola Jokic']
#Embiid
Embiid = Embiid_database[Embiid_database['Player'] == 'Joel Embiid']
Without_Embiid  = Embiid_database[Embiid_database['Player'] == 'Without Joel Embiid']
#Giannas
Giannis = Giannis_database[Giannis_database['Player'] == 'Giannis Antetokoumpo']
Without_Giannis = Giannis_database[Giannis_database['Player'] == 'Without Giannis Antetokoumpo']
#James
James = James_database[James_database['Player'] == 'Lebron James']
Without_James = James_database[James_database['Player'] == 'Without Lebron James']


#Test
James.head()

,Player,GAME,DATE,SCORE,Win/ Loss,Team Score,Opp Score,PTS,REB,AST,...,1M-1A,1%,OR,DR,REB2,AST3,STL,TO,BLK,PTS4
0,Lebron James,Golden State Warriors logo,2022-10-19,L 123-109,L,109,123,31.0,14.0,8.0,...,2023-04-04 00:00:00,1.000,4.0,10.0,14.0,8.0,0.0,5.0,0.0,31.0
1,Lebron James,LA Clippers logo,2022-10-21,L 97-103,L,97,103,20.0,10.0,6.0,...,2023-04-06 00:00:00,0.667,2.0,8.0,10.0,6.0,1.0,2.0,2.0,20.0
2,Lebron James,Portland Trail Blazers logo,2022-10-23,L 104-106,L,104,106,31.0,8.0,8.0,...,2023-05-07 00:00:00,0.714,1.0,7.0,8.0,8.0,2.0,4.0,2.0,31.0
3,Lebron James,Denver Nuggets logo,2022-10-27,L 110-99,L,99,110,19.0,7.0,9.0,...,2023-01-02 00:00:00,0.500,2.0,5.0,7.0,9.0,1.0,8.0,0.0,19.0
4,Lebron James,Minnesota Timberwolves logo,2022-10-29,L 111-102,L,102,111,28.0,7.0,5.0,...,2023-07-08 00:00:00,0.875,3.0,4.0,7.0,5.0,4.0,3.0,0.0,28.0

In [6]:
print('Cury Points:', Curry['PTS'].mean(),
'\n Embiid Points:',Embiid['PTS'].mean(),
'\n James Points:',James['PTS'].mean(),
'\n Jokic Points:',Jokic['PTS'].mean(),
'\n Giannis Points:',Giannis['PTS'].mean())

Cury Points: 29.428571428571427
 Embiid Points: 33.07575757575758
 James Points: 28.90909090909091
 Jokic Points: 24.492753623188406
 Giannis Points: 31.095238095238095

In [7]:
name_of_columns = ['Player', 'AVG_points', 'AVG_assist', 'AVG_rebounds','AVG_Block', 'AVG_Steal', 'AVG_Turnover' ,'AVG_Shooting_percentage']
best = pd.DataFrame(columns= name_of_columns)
best

Empty DataFrame
Columns: [Player, AVG_points, AVG_assist, AVG_rebounds, AVG_Block, AVG_Steal, AVG_Turnover, AVG_Shooting_percentage]
Index: []

In [8]:
james_list = ['Lebron James', James['PTS'].mean(), James['AST'].mean(), James['REB2'].mean(), James['BLK'].mean(), James['STL'].mean(), James['TO'].mean(), James['MIN'].mean()]
Jokic_list = ['Nikola Jokic', Jokic['PTS'].mean(),Jokic['AST'].mean(), Jokic['REB2'].mean(), Jokic['BLK'].mean(), Jokic['STL'].mean(), Jokic['TO'].mean(), Jokic['MIN'].mean()]
Embiid_list = ['Joel Embiid', Embiid['PTS'].mean(), Embiid['AST'].mean(), Embiid['REB2'].mean(), Embiid['BLK'].mean(), Embiid['STL'].mean(), Embiid['TO'].mean(), Embiid['MIN'].mean()]
Curry_list = ['Stephen Curry', Curry['PTS'].mean(), Curry['AST'].mean(), Curry['REB2'].mean(), Curry['BLK'].mean(), Curry['STL'].mean(), Curry['TO'].mean(), Curry['MIN'].mean()]
Giannis_list = ['Giannis Antetokoumpo', Giannis['PTS'].mean(), Giannis['AST'].mean(), Giannis['REB2'].mean(), Giannis['BLK'].mean(), Giannis['STL'].mean(), Giannis['TO'].mean(), Giannis['MIN'].mean()]

james_list

['Lebron James',
 28.90909090909091,
 6.818181818181818,
 8.290909090909091,
 0.6,
 0.9090909090909091,
 3.2363636363636363,
 35.58181818181818]

In [9]:
best.loc[0] = james_list
best.loc[1] = Jokic_list
best.loc[2] = Embiid_list
best.loc[3] = Curry_list
best.loc[4] = Giannis_list
best

,Player,AVG_points,AVG_assist,AVG_rebounds,AVG_Block,AVG_Steal,AVG_Turnover,AVG_Shooting_percentage
0,Lebron James,28.909091,6.818182,8.290909,0.600000,0.909091,3.236364,35.581818
1,Nikola Jokic,24.492754,9.826087,11.840580,0.666667,1.246377,3.579710,33.681159
2,Joel Embiid,33.075758,4.151515,10.136364,1.696970,1.015152,3.393939,34.666667
3,Stephen Curry,29.428571,6.285714,6.107143,0.357143,0.928571,3.196429,34.678571
4,Giannis Antetokoumpo,31.095238,5.698413,11.761905,0.809524,0.825397,3.920635,32.158730

In [10]:
team_player = ['Player', 'Point_avg', 'Opp_points_avg', 'avg_win_percentage', 'Number of Games']
team_stat = pd.DataFrame(columns= team_player)
team_stat

Empty DataFrame
Columns: [Player, Point_avg, Opp_points_avg, avg_win_percentage, Number of Games]
Index: []

In [11]:
def winpercentage(dataframe):
    x = dataframe[dataframe['Win/ Loss'] == 'W']
    y = len(x['Win/ Loss'])
    z = (y / len(dataframe)) * 100
    return(z)

def num_games(dataframe):
    x = len(dataframe['Win/ Loss'])
    return(x)


print(num_games(James))

55

In [12]:
with_Curry = ['Stephen Curry',Curry['Team Score'].mean(), Curry['Opp Score'].mean(), winpercentage(Curry), num_games(Curry) ]
no_Curry = [' Without Stephen Curry',Without_Curry['Team Score'].mean(), Without_Curry['Opp Score'].mean(), winpercentage(Without_Curry), num_games(Without_Curry)]

with_James = ['Lebron James', James['Team Score'].mean(), James['Opp Score'].mean(), winpercentage(James), num_games(James)]
no_James = ['Without Lebron James', Without_James['Team Score'].mean(), Without_James['Opp Score'].mean(), winpercentage(Without_James), num_games(Without_James)]

with_Embiid = ['Joel Embiid',Embiid['Team Score'].mean(), Embiid['Opp Score'].mean(), winpercentage(Embiid), num_games(Embiid) ]
no_Embiid = [' Without Joel Embiid',Without_Embiid['Team Score'].mean(), Without_Embiid['Opp Score'].mean(), winpercentage(Without_Embiid), num_games(Without_Embiid)]

with_Jokic = ['Nikola Jokic', Jokic['Team Score'].mean(), Jokic['Opp Score'].mean(), winpercentage(Jokic), num_games(Jokic) ]
no_Jokic = ['Without Nikola Jokic', Without_Jokic['Team Score'].mean(), Without_Jokic['Opp Score'].mean(), winpercentage(Without_Jokic), num_games(Without_Jokic)]

with_Giannis = ['Giannis Antetokoumpo', Giannis['Team Score'].mean(), Giannis['Opp Score'].mean(), winpercentage(Giannis), num_games(Giannis) ]
no_Giannis = [' Without Giannis Antetokoumpo', Without_Giannis['Team Score'].mean(), Without_Giannis['Opp Score'].mean(), winpercentage(Without_Giannis), num_games(Without_Giannis)]

with_James
#no_Jokic

['Lebron James', 119.14545454545454, 117.78181818181818, 54.54545454545454, 55]

In [13]:
team_stat.loc[0] = with_Curry
team_stat.loc[1] = no_Curry
team_stat.loc[2] = with_Embiid
team_stat.loc[3] = no_Embiid
team_stat.loc[4] = with_Giannis
team_stat.loc[5] = no_Giannis
team_stat.loc[6] = with_Jokic
team_stat.loc[7] = no_Jokic
team_stat.loc[8] = with_James
team_stat.loc[9] = no_James

team_stat

,Player,Point_avg,Opp_points_avg,avg_win_percentage,Number of Games
0,Stephen Curry,120.535714,117.482143,53.571429,56
1,Without Stephen Curry,115.500000,116.384615,53.846154,26
2,Joel Embiid,114.454545,110.803030,65.151515,66
3,Without Joel Embiid,118.375000,111.312500,68.750000,16
4,Giannis Antetokoumpo,118.031250,113.031250,75.000000,64
5,Without Giannis Antetokoumpo,113.055556,114.277778,55.555556,18
6,Nikola Jokic,117.869565,113.202899,69.565217,69
7,Without Nikola Jokic,104.769231,108.538462,38.461538,13
8,Lebron James,119.145455,117.781818,54.545455,55
9,Without Lebron James,113.148148,114.185185,48.148148,27

Player        55
GAME          55
DATE          55
SCORE         55
Win/ Loss     55
Team Score    55
Opp Score     55
PTS           55
REB           55
AST           55
MIN           55
2M-2A         55
3M-3A         55
FG%           55
1M-1A         55
1%            55
OR            55
DR            55
REB2          55
AST3          55
STL           55
TO            55
BLK           55
PTS4          55
dtype: int64